body{
	background: rgb(252,252,186);
background: linear-gradient(90deg, rgba(252,252,186,1) 0%, rgba(24,231,244,1) 0%, rgba(231,105,241,1) 100%, rgba(191,255,240,1) 100%);

}

p{
	color: white;
	font-size: 20px;
}

.name{
	position: absolute;
	left: 1350px;
	top: 50px;
}

.gym{
	position: absolute;
	left: 950px;
	top: 750px;
}

.res{
	position: absolute;
	left: 950px;
	top: 800px;
}
.lib{
	position: absolute;
	left: 950px;
	top: 850px;
}


.map{
	position: absolute;
	left: 950px;
	top : 150px;
}




.bar{
	width: 400px;
	height: 50px;
	background-color: cyan;
	color: black;
	position: absolute;
	top: 50%;
	left: 300px;
	font-size: 20px;
}

.btn{
	position: absolute;
	top: 60%;
	left: 410px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    display: inline-block;
        background-color: cyan;
        border-radius: 40px;
        border: 4px double #cccccc;
        color: black;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
}
